.home{
    margin-top: 5%;
}

.home-title{
    font-weight: bold;
}

.sections {
    display: block;
    justify-content: center;
}

.section {
    position: relative;
    margin-top: 10%;
    width: 80%;
    left: 10%;
}

.section h3 {
    width: 60%;
    text-align: left;
    text-indent: 30px;
    line-height: 50px;
}